#version=RHEL8
ignoredisk --only-use=vda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=vda
# Use graphical install
text
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network --bootproto=dhcp
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=cbruner --password=$6$5t9c2r3DY90ZoqOb$f3fLugrop7sLl0TDICwuDbmzhv4LLc.5QZ/KN6lhFM/h62LzE6rRvfzrd3pZB8qTh1I4POciZT4YOWVro7sD.. --iscrypted --gecos="Colin Bruner"

%packages
@^server-product-environment
@container-management
@development
@headless-management
@system-tools
@virtualization-hypervisor
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
